.container{
    margin: 125px 162px;
}

.italic{
    line-height: 40px;
    text-align: justify;
    font-size:18px;
    font-style:italic;
}

.title{
    margin-top:111px;
    font-weight:700;
    font-size:48px;
    font-family:"Raleway";
}

.subtitle{
    font-weight: 700;
    font-size:36px;
    margin-top:32px;
}

.highlight{
    color:#A74731;
    display: flex;
    font-size:36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.monochrome{
    font-size:24px;
    line-height: 40px;
    text-align: center;
}

.centerText{
    color:#D07966;
    font-weight: 700;
    font-size:24px;
    text-align: center;
}

.orange{
    color:#D07966;
    font-size:14px;
}

.keeladi{
    margin-top:32px;
    font-size:18px;
}

.content{
    font-size:18px;
    margin-top:40px;
}

.map1{
    margin-top:50px;
    background-color: bisque;
    height:625px;
    width: 100%;
}

.textAndMap{
    margin-top:50px;
    display:flex;
    flex-direction: row;
}

.text{
    width: 40%;
    font-size:18px;
    margin-right:8px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imageCluster{
    display: flex;
    flex-direction: column;
}

.imageLink{
    display: flex;
    width: 30%;
    margin-top: 24px;
    flex-direction: column;
    align-items: center;
}

.imageText{
    width:50%;
    font-size:18px;
    margin-right:8px;
    line-height: 30px;
    display: flex;
    align-items: center;
}