
.titleContainer{
  background: #00000066;
  padding:16px;
  font-size:36px;
  font-family:"Raleway";
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  color:#fff;
  max-width: 378px;
  font-weight:800;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleBody{
  text-align: center;
}

.divider{
  width: 30%;
  border-bottom: white;
  border: 1px solid;
  margin-top: 16px;
}

.author{
  margin-top:25px;
  font-weight:500;
  font-size:19px;
  font-family:"Merriweather";
}
